/* CSS for Gallery and Adopt Page */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--background-main);
  padding: 15px;
  gap: 15px;
}

.gallery img {
  border: 3.5px solid black;
  border-radius: 10px;
  width: 100%;
  height: 575px;
}
.gallery img:hover {
  border: 12.5px solid black;
}
@media (orientation: portrait){
  .gallery {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}

