/* Footer CSS */
.foot {
  display: flex;
  padding: 4vh 5vw;
  justify-content: space-between;
} 
.foot li {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.foot-center {
  flex: 1;
  width: 100%;
}


 