/* Footer CSS */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.foot-top {
  padding: 10px;
  border-bottom: 5px solid black;
} 
.foot-bottom {
  padding: 10px;
}

 