@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --background-main: #e5f7fd;
    --hover-color: blue;
    --text-main: black;
    --nav: lightblue;
}
.flex_parent{
    display: flex;

}

.child { 
    background: hotpink; 
    border: 1px; 
    color: white; 
}

body {
    margin: 0;
}

.heading {
    padding-top: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.front {
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-align: center;
    padding: 100px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
}


.row img {
    width:100%;

}


footer {
    position: absolute;
    bottom: 0;
}
