@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}
/* Colors i used multiple times */
:root {
  --background-main: #ebf8fe;
  --hover-color: blue;
  --text-main: black;
  --nav: lightblue;
}
/* Main Page CSS */
.home {
  background-color: var(--background-main);
  min-height: 85vh;
}
/* styles whole page */
body {
  margin: 0;
}
/* styles heading */
.heading {
  padding-top: 50px;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 46px;
}
/* small desc under heading */
.desc {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-align: center;
  padding: 100px;
}
/* styling for pics */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  padding: 100px;
}
.row img {
  width: 100%;
  max-height: 625px;
}
/* styles titles underneath pics */
.titles {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding-bottom: 50px;
}
.titles a {
  display: flex;
  text-decoration: none;
}
/* responsiveness */
@media (max-width:1000px) {
  .h2 {
    font-size: 40px;
  }
  .desc {
    font-size: 20px;
  }
  .row {
    grid-template-columns: 1fr;
  }
} 