@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}
.flex_parent{
    display: flex;

}

.child { background: hotpink; border: 1px; color: white; }

body {
    margin: 0;
}



footer {
    position: absolute;
    bottom: 0;
}