/* CSS for Nav bar */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--nav);
}
.navbar {
  font-size: 24px;
  padding-bottom: 10px;
}
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: var(--text-main);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.nav-links:hover {
  color: blue;
}
.logo {
  display: inline-block;
  padding: 10px;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 20px;
}
@media (orientation: portrait) {
  .logo {
    display: flex;
    justify-content: center;
  }
}