@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

nav {
    width :100%;
    background-color: var(--nav);
    padding: 4rem 4rem;
}

nav #navb {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
nav a:hover {
    color: var(--hover-color);
}

nav a {
    padding: 0 9rem;
    font-size: 1.75rem;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 500px) {
    

  }