@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

nav {
    width :100%;
    background-color: var(--nav);
    padding: 4rem 4rem;
}

.navb {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
nav a:hover {
    color: var(--hover-color);
}

nav a {
    padding: 30px;
    font-size: 34px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

